:host {
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 0px;
}

.page-container {
  padding:0px 5%;
  margin-top:20px;
}

.page-title {
  margin-bottom: 20px;
  border-bottom: 3px solid #ddd;
  padding: 25px;
  text-align: left;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
}

.page-actions {
  text-align:right;
  padding:0px 5%;
  width:100%;
  display:flex;
  flex-flow: row-reverse;
  .button-group {
    position: absolute;
    left: 5%;
    .btn-primary {
      font-size: 1.1em;
      background: #008198;
      border-color: #008198;
    }
    .btn-primary:not(:last-of-type) {
      margin-right:5px;
    }
    .btn-primary:hover {
      background: lighten(#008198,10%);
    }
    .btn-outline-primary {
      color: #008198;
      border-color: #008198;
    }
    .btn-outline-primary:hover,
    .btn-outline-primary:active,
    .btn-outline-primary:focus {
      background: #00819833;
    }
    .btn-export {
      padding:10px;
    }
  }
  .customer-dropdown,
  .file-dropdown {
    flex: 1;
    margin: 10px;
    font-size: 1rem;
    min-width:250px;
    max-width:350px;
  }
}

mat-icon {
  vertical-align: bottom;
  margin-right:5px;
}

/**Begin Drag-dro style*/

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.data-element-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.field-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.field-item:last-child {
  border: none;
}

.data-element-list.cdk-drop-list-dragging .field-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.empty-placeholder {
  height: 300px;
  position: relative;
  border: 3px solid #008198;
  border-radius:8px;
  margin-top:20px;
  .empty-inner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.group-box {
  margin: 15px 10px;
  &:nth-of-type(odd) {
    border: 3px solid #008198;
    .field-item{
      background:#00819805;
    }
  }
  &:nth-of-type(even) {
    border: 3px solid #0da97f;
  }
}

.left-view,
.right-view {
  display:inline-block;
  width:50%;
  overflow-y: auto;
  max-height: 800px;
  vertical-align: top;
}
