:host {
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 0px;
}

.page-container {
  padding:0px 5%;
  position:relative;
  z-index:0
}

.page-title {
  margin-bottom: 20px;
  border-bottom: 3px solid #ddd;
  padding: 25px;
  text-align: left;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
}

.loading-indicator {
  margin-top: 80px;
}

.classification-table {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #008198;
  box-shadow: 0px 0px 20px #ddd;
  font-size:1em;
  th {
    background: #008198;
    color: #fff;
    padding: 15px 5px;
    text-transform: uppercase;
  }
  tr:not(:last-of-type) td {
    border-bottom:1px solid #555;
  }
  tr td:not(:last-of-type) {
    border-right:1px solid #ddd;
  }
  tr td.editing {
    padding: 5px;
    background: #00819888;
    input {
      height: 50px;
      width: 90%;
      border: 1px solid #008198;
    }
  }
  tr td {
    padding: 20px 5px;
  }
  th:first-of-type {
    width:300px;
  }
  tr td:first-of-type {
    width:300px;
    background: #008198;
    color: #fff;
    text-transform: uppercase;
  }
}

.mat-progress-bar {
  height:20px;
}

.page-actions {
  text-align:right;
  padding:0px 5%;
  width:100%;
  display:flex;
  z-index:1;
  position:relative;
  flex-flow: row-reverse;
  .button-group {
    position: absolute;
    left: 5%;
    .btn-primary {
      background: #008198;
      border-color: #008198;
      font-size: 1.1em;
    }
    .btn-primary:not(:last-of-type) {
      margin-right:5px;
      margin-left: 0px;
    }
    .btn-primary:hover {
      background: lighten(#008198,10%);
    }
    .btn-outline-primary {
      color: #008198;
      border-color: #008198;
    }
    .btn-outline-primary:hover,
    .btn-outline-primary:active,
    .btn-outline-primary:focus {
      background: #00819833;
    }
    .btn-export {
      padding:10px;
    }
  }
  .hidden-menu {
    position:absolute;
    left:5%;
    cursor:pointer;
    .menu {
      position: absolute;
      width: 200px;
      top: 50px;
      left: 0px;
      border: 1px solid #000;
      border-radius: 5px;
      padding:0px;
      text-align: left;
    }
    .menu-item {
      padding: 10px;
      color: #000;
      background:#fff;
      z-index:1;
    }
    .menu-item:not(:last-of-type) {
      border-bottom: 1px solid #000;
    }
    .menu-item:hover {
      color:#fff;
      background:lighten(#008198,10%);
    }
  }

  .hidden-menu:hover {
    color:#008198;
  }
  .dropdown-group {
    display:inline-block;
    width:40%;
    .customer-dropdown,
    .file-dropdown {
      display:inline-block;
      width:48%;
      margin: 1%;
      font-size: 1rem;
      min-width:280px;
      max-width:350px;
    }
  }
}

.empty-placeholder {
  height: 300px;
  position: relative;
  border: 3px solid #008198;
  border-radius:8px;
  margin-top:20px;
  .empty-inner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.btn-upload {
  height: 45px;
  margin: 0px;
  font-size: 1.2em;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  margin-top: 2px;
}

.alert-info {
  margin:20px;
}

.file-upload-btn {
  overflow: hidden;
  position: relative;
}

.file-upload-btn input[type="file"] {
  font-size: 1.2em;
  line-height: 2.2em;
  overflow: hidden;
  vertical-align: middle;
  padding: 2px;
  border: 1px dashed #aaa;
  padding-left: 10px;
}

.file-upload-btn input[type="file"]::-webkit-file-upload-button {
  background:#FFFFFF;
  color: #0da97f;
  border: 1px solid #0da97f;
  line-height: 2em;
  padding: 2px 20px;
  float: right;
  border-radius:.25rem;
}


.file-upload-btn input[type="file"]::-webkit-file-upload-button:focus {
  outline:none!important;
}

@media (max-width: 950px) {
  .page-actions .button-group {
    display:none;
  }
  .page-actions .hidden-menu {
    display:block;
  }
}

@media (min-width:950px) {
  .page-actions .hidden-menu {
    display:none;
  }
  .page-actions .button-group {
    display:block;
  }
}

mat-icon {
  vertical-align: text-bottom;
  margin-right:5px;
}
