<div class="classification-page">
  <div class="page-title">Classfications Page</div>
  <div class="page-actions">
    <div class="button-group">
      <button class="btn btn-lg btn-primary" (click)="addNewCustomer()"><mat-icon>add</mat-icon>Add New Customer</button>
      <button class="btn btn-lg btn-primary" (click)="addNewDocument()"><mat-icon>add</mat-icon>Add New Document</button>
      <button class="btn btn-outline-primary btn-export" (click)="exportClassificationData()" title="Export Selected Classification Data"><mat-icon style="font-size:30px;">get_app</mat-icon></button>
    </div>
    <div class="hidden-menu" (clickOutside) = "showElement['hiddenMenu'] = false">
      <mat-icon style="font-size: 50px;" (click) = "showElement['hiddenMenu'] = true">menu</mat-icon>
      <div class="menu" [hidden] = "!showElement['hiddenMenu']">
        <div class="menu-item" (click)="addNewCustomer()"><mat-icon>add</mat-icon>Add New Customer</div>
        <div class="menu-item" (click)="addNewDocument()"><mat-icon>add</mat-icon>Add New Customer</div>
        <div class="menu-item" (click)="exportClassificationData()"><mat-icon>get_app</mat-icon>Export All Data</div>
      </div>
    </div>
    <div class="dropdown-group">
      <div class="file-dropdown">
        <ng-multiselect-dropdown [placeholder]="'Select Documents'"
          [data]="documentList"
          [(ngModel)]="selectedFiles"
          (onSelect)="onItemSelect($event, 'select', 'document')"
          (onSelectAll)="onItemSelect($event, 'selectAll', 'document')"
          (onDeSelect)="onItemSelect($event, 'deSelect', 'document')"
          (onDeSelectAll)="onItemSelect($event, 'deSelectAll', 'document')"
          [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
      </div>
      <div class="customer-dropdown">
        <ng-multiselect-dropdown [placeholder]="'Select Customers'"
          [data]="customerList"
          [(ngModel)]="selectedCustomers"
          (onSelect)="onItemSelect($event, 'select', 'customer')"
          (onSelectAll)="onItemSelect($event, 'selectAll', 'customer')"
          (onDeSelect)="onItemSelect($event, 'deSelect', 'customer')"
          (onDeSelectAll)="onItemSelect($event, 'deSelectAll', 'customer')"
          [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="page-container">
    <div class="empty-placeholder" [hidden] = "filteredRows.length>0">
      <div class="empty-inner">
        <img src="../../assets/images/empty_holder.png" alt="image" style="height:150px;">
      </div>
    </div>
    <div class="main-table" [hidden] = "filteredRows.length===0">
      <table class="classification-table">
        <th *ngFor = "let column of headers">
          {{column}}
        </th>
        <tr *ngFor = "let row of filteredRows;let rowIndex = index;">
          <td *ngFor = "let column of headers;let colIndex = index;"
            (click)="onCellClicked(colIndex, row['Document Type'], column)"
            (clickOutside)="showElement[row['Document Type']+column]=false"
            [ngStyle]="{'width': row[column].length*8?row[column].length*8+'px':'200px'}"
            [ngClass]="{'editing':showElement[row['Document Type']+column]}">
          <div [hidden] = "!showElement[row['Document Type']+column]"><input placeholder="{{row[column]}}" value="{{row[column]}}" (change)="inputChanged($event,rowIndex,row['Document Type'],column)"></div>
            <div [hidden] = "showElement[row['Document Type']+column]">{{row[column]}}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--BEGIN: PDF Preview Modal-->
<ng-template #pdfPreviewModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">PDF Preview</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [hidden] = "!showElement['noPDF']">
      <div class="alert alert-info">No Sample PDF for this document Type</div>
      <div style="margin:50px 20px;">
        <div class="file-upload-btn">
          <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf">
          <button class="btn btn-primary btn-upload" (click) = "uploadPDF()">Upload A Sample</button>
        </div>
        <pdf-viewer [src]="pdfContent" [render-text]="true" [fit-to-page]="true" style="display: block;" id="preview" style="border-top:2px solid #ccc;padding-top:20px;"></pdf-viewer>
      </div>
    </div>
    <div [hidden] = "showElement['noPDF']">
      <pdf-viewer [src]="pdfContent" [render-text]="true" [fit-to-page]="true" style="display: block;"></pdf-viewer>
    </div>
  </div>
</ng-template>
<!--END: PDF Preview Modal-->
