<div>
  <div (click)= goToClassification() ><a routerLink="/classification" routerLinkActive="active">Classification</a></div>
  <div (click)= goToExtraction()><a routerLink="/extraction" routerLinkActive="active">Extraction</a></div>
</div>
<div class="about-content">
  <h2>About this project</h2>
  <p>In the mortgage world, every lender has their own way of naming documents. One lender might call it a "W2", while anotehr migth call it a "Form W-2".</p>
  <p>This project includes processes of file name translation and document columns extractions.</p>
</div>
